[Unit]
Description=Load aoc.bin for USB Host support

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/load_aoc_firmware

[Install]
WantedBy=multi-user.target
